<p id="notice"><%= notice %></p>

<p>
  <strong>Store name:</strong>
  <%= @store.store_name %>
</p>

<p>
  <strong>Store phone:</strong>
  <%= @store.store_phone %>
</p>

<p>
  <strong>Store zip:</strong>
  <%= @store.store_zip %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
