<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Store:</strong>
  <%= @user.store_id %>
</p>


<%= link_to 'Edit', edit_store_user_path(@store, @user) %> |
<%= link_to 'Back', store_users_path(@store) %>
